.Total{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 4em;
	text-align: center;
	font-weight: 300;
	margin-bottom: 0;
}

.TotalN{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 4em;
}