.button{
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    margin: 4%;
    width: 42%;
    background: #39bfc1;
    border: none;
    color: white;
    text-transform: uppercase;
	box-shadow: 0 0 4.5px 0.5px rgba(0, 0, 1, 0.25);
}

.header{
    font-family: Raleway;
    font-size: 8em;
    font-weight: bold;
    letter-spacing: 2.9px;
    text-align: center;
    color: #2d8e8f;
    text-transform: uppercase;
    padding: 7% 7% 0 7%;
}