.rv-xy-plot {
    box-shadow: 1px 2px 20px 6px rgba(0, 0, 1, 0.25);
    background-image: linear-gradient(54deg, #f6eeffc9, #ffffff);
}

.rv-xy-plot__axis__tick__text, .rv-xy-plot__axis__title text{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2.5em;
	fill: #39bfc1;
}

.image{
	margin: 10% 0 5% 0;
}

.rv-xy-plot__axis--horizontal{
	transform: translate();
}

.material-icons{
	font-size: 12em;
	color: #2e88a5d6;;
}

.pieicon button{
	background: transparent;
	border: none;
}

.pieicon{
	    text-align: right;
    position: absolute;
    right: 0;
    top: 62px;
}